<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<!-- Navigation -->
<nav id="mainNav">
    <ul>
        <li>
            <a th:href="@{/}">Home</a>
        </li>
        <li>
            <a th:href="@{/logout}">logout</a>
        </li>
        <li>
            <a th:href="@{/login}">login</a>
        </li>
        <li>
            <a th:href="@{/userDetails}">user details</a>
        </li>
        <li>
            <a th:href="@{/editUser}">user edit</a>
        </li>
        <li>
            <a th:href="@{/changePassword}">change password</a>
        </li>
        <li>
            <a th:href="@{/delegationList}">delegation list</a>
        </li>

    </ul>
</nav>

<!-- Page Header -->
<header>
    <img src="baner.png">
</header>

<footer>
    <hr>
    <p class="copyright text-muted">Proudly made by UTP students with <3</p>
</footer>
</body>
</html>