
<!DOCTYPE html>
<!--informacja dla dokumentu że wykorzystujemy zestaw bibliotek thymeleaf-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
<nav th:replace="fragments/static_fragments.html :: nav"></nav>
<header th:replace="fragments/static_fragments.html :: header"></header>
<div th:replace="fragments/static_fragments.html :: pageTitle('Change Password')"></div>

<p th:if="${wrongOldPass != null && wrongOldPass == true}"> Wrong Old Password </p>
<p th:if="${wrongRetype != null && wrongRetype == true}"> Wrong Retyped Password </p>
<form th:action="@{/changePassword}" th:method="post">
    <label th:text="'Old Password'"></label><br>
    <input th:type="text" th:name="oldpass"><br>

    <label th:text="'New password'"></label><br>
    <input th:type="text" th:name="newpass"><br>

    <label th:text="'Repeat new password'"></label><br>
    <input th:type="text"th:name="renewpass"><br>

    <input th:type="submit" th:value="Edit">
</form>
<footer th:replace="fragments/static_fragments.html :: footer"></footer>

</body>
</html>