<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
</head>
<body>
    <nav th:replace="fragments/static_fragments.html :: mainNav"></nav>
    <header th:replace="fragments/static_fragments.html :: header"></header>
    <div th:replace="fragments/static_fragments.html :: pageTitle('Strona główna')"></div>

    <div th:replace="fragments/static_fragments.html :: catSlider('cat1.jpg', 'cat3.jpg', 'cat4.jpg')"></div>
    <footer th:replace="fragments/static_fragments.html :: footer"></footer>
</body>
</html>